/*
  Author: Tianxiao Wei
  CS 132 Spring 2022
  Date: May 31st, 2022
  This is the styles.css for the final project.
*/

/* ------------------------------ General Page Styles ------------------------------ */  
body, body > header {
  display: flex;
}

body {
  height: 100vh;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* ------------------------------ Store Header Styles ------------------------------ */  
body > header {
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 10px;
}

li {
  /* no need to over-flex. display inline is enough here. */
  display: inline;
  margin-left: 20px;
}