/* Summary of TODOS */
/* Part 0: Style the article "cards" and images */
article {
  padding: 10px;
  width: 200px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

article img {
  width: 150px;
}

/* Part 1: Make the body a full-height column */
body {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

main {
  /* this makes the main (2nd child) take the rest of the remaining space */
  flex-grow: 1;

}

/* Part 2: Display cards in #item-container as row that wraps and distributes
   items evenly */
#item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Top bar styles (a bit trickier, so do last) */
#top-bar {
  /* Part 3: Make primary header a flex row that distributes
  items evenly (three rules) */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* Part 4: Make primary header sticky at top (two rules) */
  position: sticky;
  top: 0;
}