/*
  Author: El Hovik
  CS 132 Spring 2022
  Starter styles for the Coffee Shop V1
  This stylesheet includes all thematic styles (background colors, fonts, etc.)
  but you can practice layout techniques by following the instructions in layout-styles.css
  which is loaded after this CSS file (see head of coffee-shop-starter.html)
*/

body {
  /* Primary font family/color of page */
  font-family: 'PT Sans Caption', sans-serif;
}

/* Overriding some browser default styles we don't want */
body, h1, ul {
  margin: 0;
}

ul {
  /* For list of links in nav */
  list-style-type: none;
}

/* Shared page theme styles to start us off */
body, a {
  color: #4b3434; /* dark brown */
}

main, h2 {
  background-color: #4b3434; /* dark brown */
}

header, footer {
  background-color: #c2ab9a; /* light brown */
}

h2 {
  color: lightgray;
}

footer, h2 {
  text-align: center;
}

/*******************************************************************
 * Styles for the 3 primary body regions: header, main, footer
 *******************************************************************/

/*******************************************************************
 * Page Header Styles: #top-bar with navigation
 *******************************************************************/
#top-bar {
  /* add some packing peanuts */
  padding: 10px;
  font-size: 14pt;
}

li {
  /* no need to over-flex. display inline is enough here. */
  display: inline;
  margin-left: 20px;
}

/*******************************************************************
 * Main Region with #item-container
 *******************************************************************/
#item-container {
  background-color: lightgray;
}

/*******************************************************************
 * Footer region: Not much to do here!
 *******************************************************************/
#citation {
  font-style: italic;
}

#disclaimer {
  font-size: 8pt;
  text-align: left;
  padding: 5px;
}